*{
	margin: 0;
	padding: 0;
}

body{
	
	font-family: sans-serif;
}
header{
		
	width: 100%;
	min-height: 150px;
	line-height: 150px;
	background-color: green;
	font-size: 18;
	color:white;
	text-align: center;
}
nav ul {
background-color: red;

text-align: center;
-webkit-transition: max-height 0.4s;
transition: max-height 0.4s;
transition: max-height 0.4s;
transition: max-height 0.4s;


	}
nav ul li {
	display: inline-block;
	padding: 20px;
	
}
a{
	text-decoration: none;
	color:white;
	font-family: bold;
	text-transform: uppercase;
}
nav ul li:hover{
	background-color: #399077;
}
section{
	line-height: 1.5em;
	font-size: 18px;
	padding: 40px 40px;
	width: 75%;
	margin: 0 auto;
	text-align: justify;
}
.handle{
	width: 100%;
	text-align: left;
	background-color: #F2051D;
	color:white;
	padding:15px 10px;
	cursor: pointer;
	display:none;
}


@media screen and (max-width: 768px) {
	nav ul{
		display: none;

	}
	.showing{
		display: block;
	}
	nav ul li{
		width: 100%;
		padding: 15px;
		}
		.handle{
			display: block;
		}
}
@media screen and (max-width: 428px) {
	nav ul{
		display: none;

	}
	.showing{
		display: block;
	}
	nav ul li{
		width: 100%;
		padding: 15px;
		}
		.handle{
			display: block;
		}
}